$color-main-background: #18191a;
$color-secondary-background: #242526;
$color-background-hover: #3a3b3c;
$color-primary:#2374E1;
$color-icons:rgb(201, 201, 201);
$color-secondary-hover:rgb(88, 88, 88);