.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #242526;
  height: 70px;
  padding-bottom: 3px;
  padding-top: 3px;
}
header .header_facebook_button {
  border: none;
  font-size: 50px;
  color: #2374E1;
  background-color: #242526;
  cursor: pointer;
}
header .header_nav_bar {
  flex: 1.6;
}
header .header_nav_bar div {
  cursor: pointer;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
header .header_nav_bar div:hover {
  background-color: #3a3b3c;
  border-radius: 15px;
}
header .header_nav_bar div:hover button {
  background-color: #3a3b3c;
}
header .header_nav_bar div:first-child {
  border-bottom: 4px solid #2374E1;
}
header .header_nav_bar div:first-child button {
  color: #2374E1;
}
header .header_nav_bar div button {
  border: none;
  font-size: 30px;
  color: rgb(201, 201, 201);
  background-color: #242526;
  cursor: pointer;
}
header .header_settings {
  flex: 1;
}
header .header_search_nav {
  gap: 10px;
  margin-left: 15px;
  flex: 1;
}
header .header_search input {
  background-color: #3a3b3c;
  font-size: 20px;
  padding: 14px 40px 14px 10px;
  border-radius: 50px;
  border: none;
}
header .header_search input:focus {
  outline: none !important;
}
header .header_settings {
  gap: 10px;
  margin-right: 8px;
}
header .header_settings div img {
  border-radius: 50%;
}
header .header_settings div button {
  border: none;
  font-size: 30px;
  color: rgb(201, 201, 201);
  background-color: #3a3b3c;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  height: 50px;
  width: 50px;
}
header .header_settings div button:hover {
  background-color: rgb(88, 88, 88);
}

section {
  background-color: #18191a;
}
section .left_side_menu {
  background-color: #18191a;
  flex: 0.9;
  margin-top: 20px;
}
section .left_side_menu .left_side_menu_navigation div {
  align-items: center;
  display: flex;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
}
section .left_side_menu .left_side_menu_navigation div:hover {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_navigation div:hover button {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_navigation div img {
  border-radius: 50%;
}
section .left_side_menu .left_side_menu_navigation div h3 {
  margin-left: 17px;
  color: white;
}
section .left_side_menu .left_side_menu_navigation div button {
  display: flex;
  width: 100%;
  background-color: #18191a;
  border: none;
  color: #2374E1;
  font-size: 0.9375rem;
  height: 30px;
  align-items: center;
}
section .left_side_menu .left_side_menu_navigation div button i {
  font-size: 25px;
}
section .left_side_menu .left_side_menu_shortcuts div {
  align-items: center;
  display: flex;
  margin-left: 5px;
  padding: 10px;
  cursor: pointer;
}
section .left_side_menu .left_side_menu_shortcuts div:hover {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_shortcuts div:hover button {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_shortcuts div:first-child {
  border-top: 1px solid #414141;
}
section .left_side_menu .left_side_menu_shortcuts div img {
  border-radius: 10px;
}
section .left_side_menu .left_side_menu_shortcuts div h4 {
  color: #646060;
  font-size: 20px;
}
section .left_side_menu .left_side_menu_shortcuts div h3 {
  margin-left: 10px;
  color: white;
}
section .left_side_menu .left_side_menu_footer ul li {
  margin-left: 5px;
  color: #646060;
  list-style-type: none;
  cursor: pointer;
}
section .left_side_menu .left_side_menu_footer ul li:hover {
  border-bottom: 1px solid #646060;
}
section .right_side_menu {
  background-color: #18191a;
  flex: 0.9;
}
section .right_side_menu .right_side_wraper .contact_users div {
  margin-top: 10px;
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
section .right_side_menu .right_side_wraper .contact_users div:hover {
  background-color: rgb(88, 88, 88);
  border-radius: 10px;
}
section .right_side_menu .right_side_wraper .contact_users div .green_icon {
  height: 15px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  left: 24px;
}
section .right_side_menu .right_side_wraper .contact_users div img {
  border-radius: 50px;
}
section .right_side_menu .right_side_wraper .contact_users div h3 {
  color: white;
  margin-left: 10px;
}
section .right_side_menu .right_side_wraper .contact_search {
  padding: 20px;
}
section .right_side_menu .right_side_wraper .contact_search .contact_left h3 {
  color: #646060;
  font-size: 25px;
  margin-left: 15px;
}
section .right_side_menu .right_side_wraper .contact_search .contact_right button {
  margin-right: 15px;
  border: none;
  background-color: #18191a;
  border-radius: 50%;
}
section .right_side_menu .right_side_wraper .contact_search .contact_right button:hover {
  background-color: rgb(88, 88, 88);
}
section .right_side_menu .right_side_wraper .contact_search .contact_right button i {
  color: #646060;
  font-size: 20px;
}
section .content {
  background-color: #18191a;
  flex: 2.3;
}
section .content .content_story {
  max-width: 900px;
}
section .content .content_story div {
  position: relative;
  height: 250px;
  margin: 20px 5px;
  border-radius: 20px;
}
section .content .content_story div img {
  cursor: pointer;
  height: 250px;
  width: 150px;
  border-radius: 20px;
}
section .content .content_story div a {
  position: absolute;
  z-index: 1000;
  bottom: 5px;
  left: 10px;
  text-decoration: none;
  color: white;
  padding-right: 20px;
}
section .content .content_posting {
  width: 700px;
}
section .content .content_posting .content_posting_bar {
  border-radius: 10px;
  background-color: #242526;
}
section .content .content_posting .content_posting_bar .content_searching {
  padding: 10px;
  border-bottom: 1px solid gray;
  margin: 10px;
}
section .content .content_posting .content_posting_bar .content_searching img {
  cursor: pointer;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: -8px;
}
section .content .content_posting .content_posting_bar .content_searching input {
  border: none;
  background-color: #3a3b3c;
  border-radius: 30px;
  padding: 16px 235px;
}
section .content .content_posting .content_posting_bar .content_live_video div {
  margin-bottom: 10px;
}
section .content .content_posting .content_posting_bar .content_live_video div button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: #242526;
  padding: 17px 42px;
  border-radius: 10px;
}
section .content .content_posting .content_posting_bar .content_live_video div button:hover {
  background-color: rgb(88, 88, 88);
}
section .content .content_posting .content_posting_bar .content_live_video div button i {
  font-size: 25px;
}
section .content .content_posting .content_posting_bar .content_live_video div button #live_video_icon {
  color: rgb(255, 0, 98);
}
section .content .content_posting .content_posting_bar .content_live_video div button #live_photo_icon {
  color: green;
}
section .content .content_posting .content_posting_bar .content_live_video div button #live_smile_icon {
  color: orange;
}
section .content .content_posting .content_posting_bar .content_live_video div button h3 {
  margin-left: 5px;
  color: rgb(175, 174, 174);
}
section .content .content_posts {
  background-color: #18191a;
  width: 730px;
}
section .content .content_posts .content_post {
  margin-top: 20px;
  border-radius: 15px;
  background-color: #242526;
  margin: 15px;
}
section .content .content_posts .content_post .post_header {
  margin-top: 0px;
}
section .content .content_posts .content_post .post_header .post_left_side {
  gap: 15px;
}
section .content .content_posts .content_post .post_header .post_left_side a {
  text-decoration: none;
  color: white;
}
section .content .content_posts .content_post .post_header .post_left_side a:hover {
  border-bottom: 1px solid white;
}
section .content .content_posts .content_post .post_header .post_left_side div {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section .content .content_posts .content_post .post_header .post_left_side div img {
  border-radius: 50%;
}
section .content .content_posts .content_post .post_header .post_right_side button {
  border: none;
  background-color: #242526;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #646060;
}
section .content .content_posts .content_post .post_header .post_right_side button:hover {
  background-color: rgb(88, 88, 88);
}
section .content .content_posts .content_post .like_share {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #646060;
}
section .content .content_posts .content_post .like_share div div i {
  color: #2374E1;
  cursor: pointer;
}
section .content .content_posts .content_post .like_share div div a {
  text-decoration: none;
  color: #646060;
}
section .content .content_posts .content_post .like_share div div a:hover {
  border-bottom: 1px solid #646060;
}
section .content .content_posts .content_post .post_like_comment_share {
  margin-top: 10px;
}
section .content .content_posts .content_post .post_like_comment_share button {
  border: none;
  background-color: #242526;
  font-size: 25px;
  padding: 5px 58px;
  border-radius: 10px;
}
section .content .content_posts .content_post .post_like_comment_share button i {
  color: #2374E1;
}
section .content .content_posts .content_post .post_like_comment_share button a {
  text-decoration: none;
  color: #646060;
}
section .content .content_posts .content_post .post_like_comment_share button:hover {
  background-color: rgb(88, 88, 88);
}/*# sourceMappingURL=main.css.map */