.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #242526;
  height: 70px;
  padding-bottom: 3px;
  padding-top: 3px;
}
header .header_facebook_button {
  border: none;
  font-size: 50px;
  color: #2374E1;
  background-color: #242526;
  cursor: pointer;
}
header .header_nav_bar {
  flex: 1.6;
}
header .header_nav_bar div {
  cursor: pointer;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
header .header_nav_bar div:hover {
  background-color: #3a3b3c;
  border-radius: 15px;
}
header .header_nav_bar div:hover button {
  background-color: #3a3b3c;
}
header .header_nav_bar div:first-child {
  border-bottom: 4px solid #2374E1;
}
header .header_nav_bar div:first-child button {
  color: #2374E1;
}
header .header_nav_bar div button {
  border: none;
  font-size: 30px;
  color: rgb(201, 201, 201);
  background-color: #242526;
  cursor: pointer;
}
header .header_settings {
  flex: 1;
}
header .header_search_nav {
  gap: 10px;
  margin-left: 15px;
  flex: 1;
}
header .header_search input {
  background-color: #3a3b3c;
  font-size: 20px;
  padding: 14px 40px 14px 10px;
  border-radius: 50px;
  border: none;
}
header .header_search input:focus {
  outline: none !important;
}
header .header_settings {
  gap: 10px;
  margin-right: 8px;
}
header .header_settings div img {
  border-radius: 50%;
}
header .header_settings div button {
  border: none;
  font-size: 30px;
  color: rgb(201, 201, 201);
  background-color: #3a3b3c;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  height: 50px;
  width: 50px;
}
header .header_settings div button:hover {
  background-color: rgb(88, 88, 88);
}

section {
  background-color: #18191a;
}
section .left_side_menu {
  background-color: #18191a;
  flex: 0.9;
  margin-top: 20px;
}
section .left_side_menu .left_side_menu_navigation div {
  align-items: center;
  display: flex;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
}
section .left_side_menu .left_side_menu_navigation div:hover {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_navigation div:hover button {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_navigation div img {
  border-radius: 50%;
}
section .left_side_menu .left_side_menu_navigation div h3 {
  margin-left: 17px;
  color: white;
}
section .left_side_menu .left_side_menu_navigation div button {
  display: flex;
  width: 100%;
  background-color: #18191a;
  border: none;
  color: #2374E1;
  font-size: 0.9375rem;
  height: 30px;
  align-items: center;
}
section .left_side_menu .left_side_menu_navigation div button i {
  font-size: 25px;
}
section .left_side_menu .left_side_menu_shortcuts div {
  align-items: center;
  display: flex;
  margin-left: 5px;
  padding: 10px;
  cursor: pointer;
}
section .left_side_menu .left_side_menu_shortcuts div:hover {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_shortcuts div:hover button {
  background-color: #3a3b3c;
  border-radius: 15px;
}
section .left_side_menu .left_side_menu_shortcuts div:first-child {
  border-top: 1px solid #414141;
}
section .left_side_menu .left_side_menu_shortcuts div img {
  border-radius: 10px;
}
section .left_side_menu .left_side_menu_shortcuts div h4 {
  color: #646060;
  font-size: 20px;
}
section .left_side_menu .left_side_menu_shortcuts div h3 {
  margin-left: 10px;
  color: white;
}
section .left_side_menu .left_side_menu_footer ul li {
  margin-left: 5px;
  color: #646060;
  list-style-type: none;
  cursor: pointer;
}
section .content {
  background-color: green;
  flex: 2.3;
}
section .right_side_menu {
  background-color: yellow;
  flex: 0.9;
}/*# sourceMappingURL=main.css.map */